body{
    margin: 0px;
    padding: 0px;
    max-width: 375px;
    font-family:Inter;
    font-weight: 400;
    font-size: 16px;
    color: #5E6E85;
    height: 0px;
}
.logo{
   text-align: center;
   background: linear-gradient(to bottom right, #FFFFFF, #D6FCFE, #D6E6FE);
   border-radius: 0 0 30px 30px;
   padding-left: 24px;
   padding-right: 24px;
}
.logo_title{
font-size: 60px;
font-weight: 600;
color: #253347;
}
.logo_text{
    padding-bottom: 170px;
}
.result_line{
    visibility: hidden;
}
.bmi_line{
    visibility: hidden;
}
.result{
    position: relative;
    top: -200px;
}
.result_photo{
    width: 375px;
}
.result_title{
    font-weight: 600;
    color: #253347;
    font-size: 32px;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
}
.result_text{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 50px;
}
.icons{
    background: linear-gradient(to bottom right, #FFFFFF, #D6FCFE, #D6E6FE);
    padding-top: 50px;
    padding-bottom: 50px;
}
.icons_icon{
    padding-left: 24px;
    padding-right: 24px;
}
.icons_title{
    font-weight: 600;
    color: #253347;
    font-size: 22px;
    padding-left: 24px;
    padding-right: 24px;
}
.icons_text{
    padding-left: 24px;
    padding-right: 24px;
}
.bmi{
    position: relative;
    text-align: center;
    top: -200px;
}
.bmi_title{
    padding-bottom: 15px;
    font-weight: 600;
    color: #253347;
    font-size: 32px;
}
.bmi_text{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 25px;
}
.collection{
    text-align: left;
    list-style: none;
    padding: 10px;
    padding-bottom: 30px;
}
.element{
    width: 320px;
    box-shadow: 8px 8px 20px 5px #ADD8E6;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.element_last{
    width: 320px;
    box-shadow: 8px 8px 20px 5px #ADD8E6;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.element_part{
    display: flex;
    gap: 15px;
}
.element_text{
    padding-bottom: 25px;
}
.bmi_form{
    text-align: center;
    width: 328px;
    background-color: #FFFFFF;
    margin-left: 24px;
    border-radius: 20px;
    box-shadow: 8px 8px 80px 5px #ADD8E6;
    padding-bottom: 5px;
    position: relative;
    top: -100px;
}
.form_title{
    font-weight: 600;
    color: #253347;
    font-size: 22px;
    padding-top: 20px;
}
.unit_selection{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: #253347;
    padding-bottom: 30px;
}
.welcome_message{
    background-color: #345FF6;
    background-image: linear-gradient(to bottom right, #345FF6, #587DFF);
    border-radius: 10px;
    max-width: 280px;
    text-align: left;
    margin-left: 24px;
}
.welcome_message_title{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 30px;
}
.welcome_message_text{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    font-size: 14px;
}
.weight_title{
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
    color: #5E6E85;
}
.metric{
    text-align: right;
    width: 260px;
    height: 39px;
    border-radius: 10px;
    border-color: #D8E2E7;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.height_title{
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
    color: #5E6E85; 
}
.imperial{
    text-align: right;
    width: 120px;
    height: 39px;
    border-radius: 10px;
    border-color: #D8E2E7;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder {
    color: #345FF6;
}
.result_message_title{
    font-weight: 400;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 30px;
    color: #FFFFFF;
}
.result_message_text{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
}
.result_bmi{
    font-size: 32px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 5px;
}
@media screen and (min-width: 376px){
    body{
        max-width: 768px;
        height: 0px;
    }
    .logo{
        padding-top: 30px;
    }
    .logo_title{
      padding-left: 120px;
      padding-right: 120px;
    }
    .bmi_form{
        text-align:left;
        width: 720px;
    }
    .form_title{
        padding-left: 30px;
    }
    .unit_selection{
        justify-content:left;
        gap: 240px;
    }
    .input_group{
        display: flex;
        padding-left: 30px;
        gap:30px
    }
    .weight_title{
        padding-left: 0px;
    }
    .height_title{
        padding-left: 0px; 
    }
    .welcome_message{
        border-radius: 10px;
        max-width: 622px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        display: flex;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .welcome_message_title{
        padding-top: 0px;
    }
    .welcome_message_text{
        padding-top: 13px;
    }
    .result {
        position: relative;
        top: -150px;
    }
    .result_message_text{
        padding-top: 20px;
    }
    .result_content{
        display: flex;
    }
    .result_photo{
        width: 375px;
        padding-bottom: 60px;
    }
    .icons_elements{
        display: flex;
    }
    .collection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding-left: 15px;
    }
    .element_last{
        position: relative;
        left: 190px;
    }
    .bmi{
        position: relative;
        top: -250px;
    }
}
@media screen and (min-width: 769px){
    body{
        height: 0px;
    }
    .logo{
        margin-left: 20px;
        text-align: left;
        width: 870px;
    }
    .logo_photo{
        padding-top: 40px;
        padding-left: 30px;
    }
    .logo_title{
        padding-left: 30px;
        width: 480px;
        padding-top: 50px;
    }
    .logo_text{
        padding-left: 32px;
        width: 480px;
    }
    .bmi_form{
        width: 464px;
        top: -530px;
        left: 700px;
    }
    .unit_selection{
        justify-content:left;
        gap: 140px;
    }
    .input_group{
        display: flex;
        padding-left: 30px;
        gap:30px
    }
    .metric{
        width: 170px;
    }
    .welcome_message{
        max-width: 400px;
    }
    .result_content{
        position: relative;
        top: -500px;
        padding-left: 140px;
        padding-bottom: 0px;
        gap: 140px;
    }
    .result_info{
        position: relative;
        top: 80px;
    }
    .result_text{
        width: 465px;
    }
    .icons{
        width: 1255px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 90px;
        display: flex;
        position: relative;
        top: -450px;
        gap: 40px;
    }
    .icons_elements{
        display: flex;
        flex-direction: column;
        width: 365px;
    }
    .icons_icon{
        width: 64px;
    }
    .bmi{
        position: relative;
        top: -600px;
    }
    .bmi_info{
        width: 564px;
        padding-left: 100px;
    }
    .element:nth-of-type(1){
        position: relative;
        top: -190px;
        left: 800px;
    }
    .element:nth-of-type(2){
        position: relative;
        top: 100px;
        left: 100px;
    }
    .element:nth-of-type(3){
        position: relative;
        top: -161px;
        left: 910px;
    }
    .element:nth-of-type(4){
        position: relative;
        top: 130px;
        left: -120px;
    }
    .element_last{
        position: relative;
        top: -130px;
        left: 700px;
        margin-bottom: 0px;
    }
    .result_line{
        position: relative;
        visibility: visible;
        top: -450px;
        left: 1050px;
    }
    .bmi_line{
        position: relative;
        visibility: visible;
        top: -140px;
        left: 250px;
    }
    .result{
        padding-top: 120px;
    }
}